USE [master]
GO
/****** Object:  Database [Validaciones]    Script Date: 21/4/2025 14:26:32 ******/
CREATE DATABASE [Validaciones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Validaciones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Validaciones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Validaciones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Validaciones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Validaciones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Validaciones]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/4/2025 14:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Cedula] [varchar](10) NOT NULL,
	[PrimerNombre] [varchar](50) NULL,
	[SegundoNombre] [varchar](50) NULL,
	[PrimerApellido] [varchar](50) NULL,
	[SegundoApellido] [varchar](50) NULL,
	[CorreoInstitucional] [varchar](100) NULL,
	[Provincia] [varchar](50) NULL,
	[Rol] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([Rol]='PACIENTE' OR [Rol]='ENFERMERA' OR [Rol]='MEDICO'))
GO
USE [master]
GO
